[Desktop Entry]
Type=Application
Name=Image Viewer
Exec=iv %f
Icon=image-viewer
Categories=Graphics;Viewer;
MimeType=image/jpeg;image/jp2;
Terminal=false
